*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#050505;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    font-family:Arial,Helvetica,sans-serif;

    overflow:hidden;

}

.splash-container{

    text-align:center;

    width:90%;

}

.logo{

    width:180px;

    height:180px;

    object-fit:contain;

    animation:zoomLogo 2s infinite ease-in-out;

    margin-bottom:30px;

}

/* LOGO ZOOM */

@keyframes zoomLogo{

0%{

transform:scale(.9);

}

50%{

transform:scale(1.08);

}

100%{

transform:scale(.9);

}

}

h1{

font-size:18px;

letter-spacing:6px;

color:#ffffff;

margin-bottom:10px;

}

h2{

font-size:34px;

font-weight:bold;

color:#8BC34A;

margin-bottom:18px;

text-shadow:0 0 20px rgba(139,195,74,.5);

}

.subtitle{

color:#FFD54F;

font-size:18px;

font-weight:bold;

line-height:1.7;

margin-bottom:20px;

}

.description{

color:#d8d8d8;

font-size:15px;

line-height:1.8;

padding:0 20px;

margin-bottom:45px;

}

/* Loader */

.loader{

width:60px;

height:60px;

margin:auto;

border:5px solid #333;

border-top:5px solid #8BC34A;

border-radius:50%;

animation:spin 1s linear infinite;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}